@tailwind base;
@tailwind components;
@tailwind utilities;



ul {
    @apply list-disc ml-6;
}

ol {
    @apply list-decimal ml-6;
}

button, input, select, textarea {
    border-style: inherit;
}

.bg-black {
    background-color: rgb(0 0 0 / var(--tw-bg-opacity)) !important;
    color: unset !important;
}

div:where(.swal2-container) button:where(.swal2-styled):where(.swal2-confirm) {
    border: 0;
    border-radius: .25em;
    background: initial;
    background-color: #7066e0;
    color: #fff !important;
    font-size: 1em;
}

div:where(.swal2-container) button:where(.swal2-styled):where(.swal2-cancel) {
    border: 0;
    border-radius: .25em;
    background: initial;
    background-color: #6e7881;
    color: #fff !important;
    font-size: 1em;
}